<form [formGroup]="form" (ngSubmit)="submit()">
  <div tuiGroup class="mb-6" [rounded]="true">
    <label
      tuiLabel="Color"
      formGroupName="appearance"
      class="tui-group__auto-width-item">
      <app-appearance-color-selector formControlName="color" class="mt-1">
      </app-appearance-color-selector>

      <tui-error
        formControlName="color"
        [error]="[] | tuiFieldError | async"></tui-error>
    </label>

    <label
      tuiLabel="Icon"
      formGroupName="appearance"
      class="tui-group__auto-width-item">
      <app-appearance-icon-selector class="mt-1" formControlName="iconName">
      </app-appearance-icon-selector>

      <tui-error
        formControlName="iconName"
        [error]="[] | tuiFieldError | async"></tui-error>
    </label>

    <label [tuiLabel]="'Name'">
      <tui-input
        formControlName="name"
        tuiTextfieldSize="m"
        class="mt-1 tui-group__inherit-item"
        [tuiTextfieldLabelOutside]="true">
        Example category
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-error
        formControlName="name"
        [error]="[] | tuiFieldError | async"></tui-error>
    </label>
  </div>

  <label [tuiLabel]="'Transaction type'" class="mb-6">
    <tui-select
      formControlName="transactionType"
      [tuiTextfieldLabelOutside]="true"
      tuiTextfieldSize="m"
      class="mt-1">
      <tui-data-list-wrapper *tuiDataList [items]="transactionTypes" size="s">
      </tui-data-list-wrapper>
    </tui-select>

    <tui-error
      formControlName="transactionType"
      [error]="[] | tuiFieldError | async"></tui-error>
  </label>

  <div class="tui-form__row text-right">
    <button tuiButton type="submit" size="m" [showLoader]="(loading$ | async)!">
      Submit
    </button>
  </div>
</form>
