<h3 class="text-center mb-8">Nice to meet you!</h3>
<form [formGroup]="form.group" (ngSubmit)="form.submit()" class="tui-form">
  <label tuiLabel="Name" class="tui-form__row">
    <tui-input
      formControlName="name"
      tuiTextfieldSize="m"
      class="mt-1"
      tuiAutoFocus
      [tuiTextfieldLabelOutside]="true">
      John Deere
      <input tuiTextfield type="text" />
    </tui-input>

    <tui-error
      formControlName="name"
      [error]="[] | tuiFieldError | async"></tui-error>
  </label>

  <label tuiLabel="Email address" class="tui-form__row">
    <tui-input
      formControlName="email"
      tuiTextfieldSize="m"
      class="mt-1"
      [tuiTextfieldLabelOutside]="true">
      mail@example.com
      <input tuiTextfield type="email" />
    </tui-input>

    <tui-error
      formControlName="email"
      [error]="[] | tuiFieldError | async"></tui-error>
  </label>

  <label tuiLabel="Password" class="tui-form__row">
    <tui-input-password
      formControlName="password"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      class="mt-1">
      ••••••••
      <input tuiTextfield type="password" />
    </tui-input-password>

    <tui-error
      formControlName="password"
      [error]="[] | tuiFieldError | async"></tui-error>
  </label>

  <div class="tui-form__row tui-form__buttons">
    <button
      tuiButton
      type="submit"
      class="w-full"
      size="m"
      [showLoader]="(form.submitButtonLoading$ | async) ?? false">
      Sign up
    </button>
  </div>
</form>

<div class="text-center tui-form__row">
  <p>
    Already have an account?
    <a href="../login" routerLink="../login" tuiLink>Log in</a>.
  </p>
</div>
