<main *tuiLet="dialogs$ | async">
  <div class="w-full d-flex gap-4 mb-4">
    <label class="w-full">
      <tui-input
        [formControl]="filters.controls.search"
        [tuiTextfieldLabelOutside]="true"
        class="no-shadow"
        tuiTextfieldSize="s">
        Search
        <input tuiTextfield type="text" />
      </tui-input>
    </label>

    <ng-container
      *tuiLet="(filters.filtersCount$ | async) ?? 0 as filtersCount">
      <button
        (click)="filters.reset()"
        appearance="flat-outline"
        icon="tuiIconFilter"
        size="s"
        class="applied-filters-button"
        title="Reset filters to default"
        tuiIconButton
        type="button">
        <tui-badge
          *ngIf="filtersCount > 0"
          [value]="filtersCount"
          size="xs"
          status="primary"></tui-badge>
      </button>
    </ng-container>

    <button
      (click)="ui.actions.create$.next(undefined)"
      appearance="primary"
      size="s"
      tuiButton
      type="button">
      New category
    </button>
  </div>

  <div
    class="bg-base table-container border-radius-l border-base-3 border-width-s overflow-hidden">
    <tui-scrollbar>
      <cdk-virtual-scroll-viewport
        *tuiLet="data.items$ | async as items"
        #viewport
        appInfiniteVirtualScroll
        (pageChange)="data.page($event)"
        [itemSize]="44"
        [appendOnly]="true"
        [fixed]="15.5"
        class="tui-zero-scrollbar"
        tuiScrollable>
        <table tuiTable [columns]="ui.columns" class="w-full">
          <thead
            class="sticky-thead"
            [style.top.px]="-viewport['_renderedContentOffset']">
            <tr tuiThGroup>
              <th *tuiHead="'category'" class="w-rest" [sorter]="null" tuiTh>
                Category
              </th>
              <th
                *tuiHead="'transactionType'"
                [sorter]="null"
                tuiTh
                class="w-200px">
                <app-dropdown-select
                  [allowDeselect]="true"
                  [emptyValue]="''"
                  [items]="ui.transactionTypes"
                  [formControl]="filters.controls.transactionType">
                  <span
                    class="column-filter-text"
                    [class.text-link]="filters.controls.transactionType.value">
                    <span>Transaction type</span>

                    <tui-svg src="tuiIconSortDown"></tui-svg>
                  </span>
                </app-dropdown-select>
              </th>
              <th
                *tuiHead="'actions'"
                tuiTh
                [sorter]="null"
                class="w-128px"></th>
            </tr>
          </thead>
          <tbody tuiTbody>
            <tr
              *cdkVirtualFor="let item of items ?? []; trackBy: trackById"
              tuiTr>
              <td *tuiCell="'category'" tuiTd class="w-rest">
                <span class="d-flex align-items-center">
                  <tui-marker-icon
                    size="xs"
                    [attr.data-appearance-color]="item.appearance.color ?? ''"
                    [src]="
                      item.appearance.iconName ?? 'fa::question'
                    "></tui-marker-icon>
                  <span class="ml-2 text-ellipsis d-block" [title]="item.name">
                    {{ item.name ?? '-' }}
                  </span>
                </span>
              </td>

              <td *tuiCell="'transactionType'" tuiTd class="w-200px">
                {{ item.transactionType }}
              </td>

              <td *tuiCell="'actions'" tuiTd class="w-128px">
                <button
                  tuiIconButton
                  routerLink="../transactions"
                  [queryParams]="{
                    categories: item.id,
                    transactionDate: 'null'
                  }"
                  appearance="flat"
                  size="s"
                  icon="tuiIconEyeOpen"
                  title="View related transactions"
                  shape="rounded"
                  class="mr-1"></button>

                <button
                  tuiIconButton
                  appearance="flat"
                  size="s"
                  icon="fa::pen"
                  title="Edit"
                  shape="rounded"
                  class="mr-1"
                  (click)="ui.actions.edit$.next(item.id)"></button>

                <button
                  tuiIconButton
                  appearance="flat-destructive"
                  size="s"
                  icon="tuiIconTrash"
                  title="Remove"
                  appRequireConfirmation
                  (confirm)="ui.actions.delete$.next(item.id)"
                  confirmationMessage="Are you sure you want to delete category '<strong>{{
                    item.name
                  }}</strong>'? All transactions assigned to this category will lose that information. This action is irreversible."
                  shape="rounded"></button>
              </td>
            </tr>
          </tbody>

          <tfoot *tuiLet="(data.apiLoading$ | async)! as apiLoading">
            <tr *ngIf="apiLoading || items === null">
              <td [colSpan]="ui.columns.length" class="py-4">
                <tui-loader></tui-loader>
              </td>
            </tr>

            <tr *ngIf="items && items.length === 0 && !apiLoading">
              <td [colSpan]="ui.columns.length" class="py-4 text-3 text-center">
                No records found
              </td>
            </tr>
          </tfoot>
        </table>
      </cdk-virtual-scroll-viewport>
    </tui-scrollbar>
  </div>
</main>
