@use '~@taiga-ui/core/styles/taiga-ui-local' as *;

:host {


  td,
  th {
    white-space: nowrap;
    border: none;
  }

  tr th {
    background: var(--tui-base-02);
  }

  tbody {
    border-color: transparent;

    tr {
      td {
        border-bottom: 1px solid var(--tui-base-03);
      }

      &:last-child td {

        border-color: transparent;
      }

      &.currently-edited {
        button {
          opacity: 1;
        }

        td {
          background: var(--tui-base-02);
          border-bottom: 1px solid var(--tui-primary);
        }
      }
    }

  }

  td button {
    @include transition(opacity);
    opacity: 0;
  }

  tr:hover td button {
    opacity: 1;
  }

}
