<button
  tuiButton
  type="button"
  appearance="primary"
  size="m"
  class="tui-space_right-3 tui-space_bottom-3"
  (click)="openCreateDialog()">
  + Create new
</button>

<table
  tuiTable
  [columns]="columns"
  *ngIf="categories$ | async as categories"
  class="w-full">
  <thead>
    <tr tuiThGroup>
      <th *tuiHead="'appearance'" tuiTh [sorter]="null">Appearance</th>
      <th *tuiHead="'name'" class="w-full" tuiTh>Name</th>
      <th *tuiHead="'actions'" tuiTh [sorter]="null"></th>
    </tr>
  </thead>
  <ng-container *tuiLet="currentlyEditedId$ | async as editedId">
    <tbody *tuiLet="categories | tuiTableSort as data" tuiTbody [data]="data">
      <ng-container *ngFor="let item of data; let index = index">
        <tr
          *tuiLet="item.id === editedId as isEdited"
          [class.currently-edited]="isEdited"
          tuiTr>
          <td *tuiCell="'appearance'" tuiTd>
            <tui-svg
              *ngIf="item.appearance.iconName !== null"
              [class]="item.appearance.color ?? ''"
              [src]="item.appearance.iconName"></tui-svg>
          </td>
          <td *tuiCell="'name'" tuiTd>
            {{ item.name }}
          </td>

          <td *tuiCell="'actions'" tuiTd>
            <button
              tuiIconButton
              appearance="flat"
              size="s"
              icon="fa::pen"
              title="Edit"
              shape="rounded"
              class="mr-1"
              (click)="openEditDialog(item.id)"></button>

            <button
              tuiIconButton
              appearance="flat-destructive"
              size="s"
              icon="tuiIconTrash"
              title="Remove"
              appRequireConfirmation
              (confirm)="deleteCategory(item.id)"
              confirmationMessage="Are you sure you want to delete this category? This action is irreversible."
              shape="rounded"></button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </ng-container>
</table>
