<ng-container *ngIf="stringify$ | async as stringify; else loading">
  <tui-combo-box
    [formControl]="control"
    (searchChange)="search$.next($event ?? '')"
    *tuiLet="items$ | async as items"
    [strict]="true"
    [stringify]="stringify"
    [tuiTextfieldCleaner]="true"
    [tuiTextfieldLabelOutside]="true"
    [tuiTextfieldSize]="size"
    tuiUnfinishedValidator="You must either select value from the list or leave this field empty">
    {{ label }}

    <input placeholder="Search" tuiTextfield />

    <cdk-virtual-scroll-viewport
      (pageChange)="page$.next($event)"
      *tuiDataList
      [itemSize]="34"
      [minBufferPx]="200"
      [viewportItemsCount]="(items ?? []).length"
      [itemsMargin]="3"
      [showMax]="6"
      appInfiniteVirtualScroll
      class="tui-zero-scrollbar"
      tuiScrollable>
      <tui-data-list size="s">
        <ng-container *cdkVirtualFor="let item of items ?? []">
          <button [value]="item" tuiOption tuiTextfieldIcon="tuiIconCheck">
            {{ stringify(item) }}
          </button>
        </ng-container>
        <ng-container *ngIf="(apiLoading$ | async)!">
          <tui-loader></tui-loader>
        </ng-container>
        <button
          *ngIf="showAddButton && items?.length === 0"
          tuiOption
          (click)="addClick.emit(search$.value)"
          class="text-link">
          <tui-svg [src]="'tuiIconPlus'" class="size-16px"></tui-svg>
          <span class="ml-2"> Add new </span>
        </button>
      </tui-data-list>
    </cdk-virtual-scroll-viewport>
  </tui-combo-box>
</ng-container>

<ng-template #loading>
  <tui-loader [overlay]="true">
    <tui-combo-box
      tuiTextfieldSize="m"
      [readOnly]="true"
      [(ngModel)]="loadingValue">
      {{ label }}
    </tui-combo-box>
  </tui-loader>
</ng-template>
