<ng-container *tuiLet="(stringify$ | async)! as stringify">
  <tui-combo-box
    (ngModelChange)="writeValue($event)"
    (searchChange)="search$.next($event ?? '')"
    *tuiLet="items$ | async as items"
    [ngModel]="value"
    [strict]="true"
    [stringify]="stringify"
    [tuiTextfieldLabelOutside]="true"
    tuiTextfieldSize="m">
    {{ label }}

    <input placeholder="Search" tuiTextfield />

    <cdk-virtual-scroll-viewport
      (pageChange)="page$.next($event)"
      *tuiDataList
      [itemSize]="34"
      [minBufferPx]="200"
      [style.--items-count]="(items ?? []).length"
      appInfiniteVirtualScroll
      class="viewport tui-zero-scrollbar"
      tuiScrollable>
      <tui-data-list size="s">
        <ng-container *cdkVirtualFor="let item of items ?? []">
          <button [value]="item" tuiOption>
            {{ stringify(item) }}
          </button>
        </ng-container>
        <ng-container *ngIf="(apiLoading$ | async)!">
          <tui-loader></tui-loader>
        </ng-container>
      </tui-data-list>
    </cdk-virtual-scroll-viewport>
  </tui-combo-box>
</ng-container>
