@import '@taiga-ui/core/styles/taiga-ui-local';

:host {
  display: block;
}

.tui-zero-scrollbar {
  @include scrollbar-hidden;
  height: calc(32px * min(max(1, var(--items-count, 0)), 6));
  min-height: 32px;
  --tui-duration: 0;
}

