<ng-container *ngIf="control !== null">
  <ng-container *tuiLet="(stringify$ | async)! as stringify">
    <tui-combo-box
      [formControl]="control"
      (searchChange)="search$.next($event ?? '')"
      *tuiLet="items$ | async as items"
      [strict]="true"
      [stringify]="stringify"
      [tuiTextfieldCleaner]="true"
      [tuiTextfieldLabelOutside]="true"
      tuiTextfieldSize="m"
      tuiUnfinishedValidator="You must either select value from the list or leave this field empty">
      {{ label }}

      <input placeholder="Search" tuiTextfield />

      <cdk-virtual-scroll-viewport
        (pageChange)="page$.next($event)"
        *tuiDataList
        [itemSize]="34"
        [minBufferPx]="200"
        [viewportItemsCount]="(items ?? []).length"
        [itemsMargin]="3"
        [showMax]="6"
        appInfiniteVirtualScroll
        class="tui-zero-scrollbar"
        tuiScrollable>
        <tui-data-list size="s">
          <ng-container *cdkVirtualFor="let item of items ?? []">
            <button [value]="item" tuiOption tuiTextfieldIcon="tuiIconCheck">
              {{ stringify(item) }}
            </button>
          </ng-container>
          <ng-container *ngIf="(apiLoading$ | async)!">
            <tui-loader></tui-loader>
          </ng-container>
        </tui-data-list>
      </cdk-virtual-scroll-viewport>
    </tui-combo-box>
  </ng-container>
</ng-container>
