<h3 class="text-center mb-8">Welcome back!</h3>
<form [formGroup]="form.group" (ngSubmit)="form.submit()" class="tui-form">
  <label tuiLabel="Email address" class="tui-form__row">
    <tui-input
      formControlName="email"
      tuiTextfieldSize="m"
      class="mt-1"
      tuiAutoFocus
      [tuiTextfieldLabelOutside]="true">
      mail@example.com
      <input tuiTextfield type="email" />
    </tui-input>

    <tui-error
      formControlName="email"
      [error]="[] | tuiFieldError | async"></tui-error>
  </label>

  <label tuiLabel="Password" class="tui-form__row">
    <tui-input-password
      formControlName="password"
      tuiTextfieldSize="m"
      [tuiTextfieldLabelOutside]="true"
      class="mt-1">
      ••••••••
      <input tuiTextfield type="password" />
    </tui-input-password>

    <tui-error
      formControlName="password"
      [error]="[] | tuiFieldError | async"></tui-error>
  </label>

  <div class="tui-form__row tui-form__buttons">
    <button
      tuiButton
      type="submit"
      class="w-full"
      size="m"
      [showLoader]="(form.submitButtonLoading$ | async) ?? false">
      Log in
    </button>
  </div>
</form>

<div class="text-center tui-form__row">
  <p>
    Don't have an account?
    <a href="../register" routerLink="../register" tuiLink>Sign up</a>.
  </p>
  <p>
    Forgot password?
    <a href="../reset-password" routerLink="../reset-password" tuiLink>
      Reset password </a
    >.
  </p>
</div>
