<h3 class="text-center mb-8">
  {{
    ui.form.controls.password.enabled ? 'Reset password' : 'Forgot password?'
  }}
</h3>

<ng-container *ngIf="ui.resultBanner$ | async as banner">
  <tui-notification
    [status]="banner.succeeded ? 'success' : 'error'"
    class="mb-6">
    {{ banner.message }}
  </tui-notification>
</ng-container>

<form
  [formGroup]="ui.form"
  (ngSubmit)="$event.preventDefault(); ui.submit$.next()">
  <app-email-input
    label="Email address of registered user"
    [control]="ui.form.controls.email"
    class="mb-6"></app-email-input>

  <ng-container *ngIf="ui.form.controls.password.enabled">
    <app-password-input
      label="New password"
      [control]="ui.form.controls.password"
      class="mb-6"></app-password-input>
  </ng-container>

  <button
    tuiButton
    type="submit"
    class="w-full"
    size="m"
    [showLoader]="(ui.submitButtonLoading$ | async) ?? false">
    {{
      ui.form.controls.password.enabled
        ? 'Reset password'
        : 'Request password reset'
    }}
  </button>
</form>

<div class="text-center mt-4" *ngIf="!ui.form.controls.password.enabled">
  <p>
    Remember password?
    <a href="../login" routerLink="../login" tuiLink>Log in</a>.
  </p>
</div>
