<h3 class="text-center mb-8">
  {{ form.controls.password.enabled ? 'Reset password' : 'Forgot password?' }}
</h3>

<ng-container *ngIf="(resultBanner$ | async)! as banner">
  <tui-notification
    [status]="banner.succeeded ? 'success' : 'error'"
    class="mb-6">
    {{ banner.message }}
  </tui-notification>
</ng-container>

<ng-container *ngIf="formError$ | async as error">
  <tui-notification status="error" class="mb-6">
    {{ error }}
  </tui-notification>
</ng-container>

<form [formGroup]="form.group" (ngSubmit)="form.submit()" class="tui-form">
  <label tuiLabel="Email address of registered user" class="tui-form__row">
    <tui-input
      formControlName="email"
      tuiTextfieldSize="m"
      class="mt-1"
      tuiAutoFocus
      [tuiTextfieldLabelOutside]="true">
      mail@example.com
      <input tuiTextfield type="email" />
    </tui-input>

    <tui-error
      formControlName="email"
      [error]="[] | tuiFieldError | async"></tui-error>
  </label>

  <ng-container *ngIf="form.controls.password.enabled">
    <label tuiLabel="New password" class="tui-form__row">
      <tui-input-password
        formControlName="password"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        class="mt-1">
        ••••••••
        <input tuiTextfield type="password" />
      </tui-input-password>

      <tui-error
        formControlName="password"
        [error]="[] | tuiFieldError | async"></tui-error>
    </label>
  </ng-container>

  <div class="tui-form__row tui-form__buttons">
    <button
      tuiButton
      type="submit"
      class="w-full"
      size="m"
      [showLoader]="(form.submitButtonLoading$ | async) ?? false">
      {{
        form.controls.password.enabled
          ? 'Reset password'
          : 'Request password reset'
      }}
    </button>
  </div>
</form>

<div class="text-center tui-form__row">
  <p *ngIf="!form.controls.password.enabled">
    Remember password?
    <a routerLink="../login" tuiLink>Log in</a>.
  </p>
  <p *ngIf="form.controls.password.enabled">
    Return to
    <a routerLink="../login" tuiLink>login page</a>.
  </p>
</div>
