<div
  class="tui-form"
  *tuiLet="wallet$ | async as wallet"
  [attr.data-skeleton]="wallet === null">
  <label tuiLabel="Wallet" class="tui-form__row">
    <ng-container *ngIf="wallet !== null">
      <tui-badge
        class="mr-1"
        *ngIf="wallet.ownerId !== userId"
        status="primary"
        [tuiHint]="'Shared to you by ' + wallet.ownerName"
        size="s"
        tuiHintDirection="top"
        [hoverable]="true">
        <tui-svg [src]="'fa::circle-user'"></tui-svg>
      </tui-badge>
    </ng-container>
    <span>
      {{ wallet?.name ?? 'Lorem ipsum dolores' }}
    </span>
  </label>

  <label tuiLabel="Date" class="tui-form__row">
    {{ transaction.transactionDate | date }}
  </label>

  <label tuiLabel="Labels" class="tui-form__row">
    <tui-scrollbar style="max-height: 200px">
      <div class="d-flex flex-wrap gap-1 mt-1">
        <tui-badge
          *ngFor="let label of transaction.labels"
          [attr.data-appearance-color]="label.appearance.color"
          status="custom"
          [value]="label.name"></tui-badge>
      </div>
    </tui-scrollbar>
  </label>

  <label
    [tuiLabel]="
      transaction.transactionType === transactionType.Income
        ? 'Sender'
        : 'Recipient'
    "
    class="tui-form__row">
    {{ transaction.recipient?.name ?? '-' }}
  </label>

  <label tuiLabel="Category" class="tui-form__row">
    <span class="d-flex align-items-center">
      <tui-marker-icon
        *ngIf="transaction.category !== null"
        size="xs"
        class="mr-2"
        [attr.data-appearance-color]="
          transaction.category.appearance.color ?? ''
        "
        [src]="
          transaction.category.appearance.iconName ?? 'fa::question'
        "></tui-marker-icon>
      <span class="text-ellipsis d-block" [title]="transaction.category?.name">
        {{ transaction.category?.name ?? '-' }}
      </span>
    </span>
  </label>

  <label tuiLabel="Amount" class="tui-form__row">
    <tui-money
      [currency]="transaction.currencyId"
      [colored]="true"
      [value]="
        transaction.amount *
        (transaction.transactionType === 'Expense' ? -1 : 1)
      "></tui-money>

    <ng-container
      *ngIf="wallet && transaction.currencyId !== wallet.currencyId">
      <span class="ml-2">(</span>
      <tui-money
        [colored]="false"
        [currency]="wallet.currencyId"
        [value]="transaction.amount * transaction.exchangeRate"></tui-money>
      <span>)</span>
    </ng-container>
  </label>

  <div class="tui-form__row tui-form__buttons tui-form__buttons_align_end">
    <button
      tuiButton
      appearance="outline"
      class="tui-form__button"
      (click)="close()"
      type="button"
      size="m">
      Close
    </button>
  </div>
</div>
