<div
  class="tui-form"
  *tuiLet="wallet$ | async as wallet"
  [attr.data-skeleton]="wallet === null">
  <label tuiLabel="Wallet" class="tui-form__row">
    <div class="d-flex align-items-center">
      <ng-container *ngIf="wallet !== null">
        <tui-badge
          class="mr-2"
          *ngIf="wallet.ownerId !== userId"
          status="primary"
          [tuiHint]="'Shared to you by ' + wallet.ownerName"
          size="s"
          tuiHintDirection="top"
          [hoverable]="true">
          <tui-svg [src]="'fa::circle-user'"></tui-svg>
        </tui-badge>
      </ng-container>
      <a
        *ngIf="showLinks; else walletText"
        tuiLink
        [routerLink]="['/wallets', wallet?.id]"
        title="See this wallet">
        <ng-container [ngTemplateOutlet]="walletText"></ng-container>
      </a>
    </div>

    <ng-template #walletText>
      {{ wallet?.name ?? 'Lorem ipsum dolores' }}
    </ng-template>
  </label>

  <label tuiLabel="Date" class="tui-form__row">
    <a
      *ngIf="showLinks; else dateText"
      tuiLink
      [routerLink]="['/wallets', wallet?.id, 'transactions']"
      [queryParams]="{
        transactionDate: transaction.transactionDate | date : 'YYYY-MM-dd'
      }"
      title="See all transactions in that day for this wallet">
      <ng-container [ngTemplateOutlet]="dateText"></ng-container>
    </a>
    <ng-template #dateText>
      {{ transaction.transactionDate | date }}
    </ng-template>
  </label>

  <label tuiLabel="Labels" class="tui-form__row">
    <tui-scrollbar
      style="max-height: 200px"
      *ngIf="transaction.labels.length > 0; else dash">
      <div class="d-flex flex-wrap gap-1 mt-1">
        <ng-container *ngIf="showLinks; else labelsWithoutLink">
          <a
            *ngFor="let label of transaction.labels"
            tuiTag
            class="tui-tag"
            [attr.data-appearance-color]="label.appearance.color"
            status="custom"
            [hoverable]="true"
            [value]="label.name"
            title="See all transactions with this label"
            [routerLink]="['/wallets', wallet?.id, 'transactions']"
            [queryParams]="{ transactionDate: 'null', labels: [label.id] }">
          </a>
        </ng-container>

        <ng-template #labelsWithoutLink>
          <tui-badge
            *ngFor="let label of transaction.labels"
            [attr.data-appearance-color]="label.appearance.color"
            status="custom"
            [value]="label.name">
          </tui-badge>
        </ng-template>
      </div>
    </tui-scrollbar>
  </label>

  <label
    [tuiLabel]="
      transaction.transactionType === transactionType.Income
        ? 'Sender'
        : 'Recipient'
    "
    class="tui-form__row">
    <a
      *ngIf="showLinks && transaction.recipientId !== null; else recipientText"
      tuiLink
      [routerLink]="['/wallets', wallet?.id, 'transactions']"
      [queryParams]="{
        recipients: [transaction.recipientId],
        transactionDate: 'null'
      }"
      title="See all transactions {{
        transaction.transactionType === transactionType.Income
          ? 'from this sender'
          : 'to this recipient'
      }}">
      <ng-container [ngTemplateOutlet]="recipientText"></ng-container>
    </a>
    <ng-template #recipientText>
      {{ transaction.recipient?.name ?? '-' }}
    </ng-template>
  </label>

  <label tuiLabel="Category" class="tui-form__row">
    <span class="d-flex align-items-center">
      <tui-marker-icon
        *ngIf="transaction.category !== null"
        size="xs"
        class="mr-2"
        [attr.data-appearance-color]="
          transaction.category.appearance.color ?? ''
        "
        [src]="
          transaction.category.appearance.iconName ?? 'fa::question'
        "></tui-marker-icon>
      <a
        *ngIf="showLinks && transaction.categoryId !== null; else categoryText"
        tuiLink
        [routerLink]="['/wallets', wallet?.id, 'transactions']"
        [queryParams]="{
          categories: [transaction.categoryId],
          transactionDate: 'null'
        }"
        title="See all transactions in this category">
        <ng-container [ngTemplateOutlet]="categoryText"></ng-container>
      </a>
    </span>

    <ng-template #categoryText>
      {{ transaction.category?.name ?? '-' }}
    </ng-template>
  </label>

  <label tuiLabel="Amount" class="tui-form__row">
    <tui-money
      [currency]="transaction.currencyId"
      [colored]="true"
      [value]="
        transaction.amount *
        (transaction.transactionType === 'Expense' ? -1 : 1)
      "></tui-money>

    <ng-container
      *ngIf="wallet && transaction.currencyId !== wallet.currencyId">
      <span class="ml-2">(</span>
      <tui-money
        [colored]="false"
        [currency]="wallet.currencyId"
        [value]="transaction.amount * transaction.exchangeRate"></tui-money>
      <span>)</span>
    </ng-container>
  </label>

  <div class="tui-form__row tui-form__buttons tui-form__buttons_align_end">
    <button
      tuiButton
      appearance="outline"
      class="tui-form__button"
      (click)="close()"
      type="button"
      size="m">
      Close
    </button>
  </div>
</div>

<ng-template #dash>-</ng-template>
