:host {
  cursor: pointer;
  border: 1px solid var(--tui-base-03);
  transition: border-color .3s, box-shadow .3s;

  tui-money:not(._green):not(._red) {
    color: var(--tui-text-02);

    .t-lighter {
      color: var(--tui-text-03);
    }
  }

  &:hover {
    border-color: var(--tui-base-04);
    box-shadow: 0 0.2rem 0.5rem rgba(0 0 0 / 5%);
  }

  a {
    position: relative;

    tui-badge {
      position: absolute;
      top: 0; right: 0;
      transform: translate(25%, -25%);
    }
  }
}
