@each $value in (flex, block, inline-block, grid) {
  .d-#{$value} {
    display: $value;
  }
}

@each $key, $value in (
    (justify-content, space-between),
    (justify-content, center),
    (justify-content, flex-start),
    (justify-content, flex-end),
    (align-items, center),
    (align-items, flex-start),
    (align-items, flex-end),
) {
  .#{$key}-#{$value} {
    #{$key}: $value;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}
