@use "sass:string";
@use "sass:color";

@function getTextColor($hex, $inverse: false) {
  $r: color.red($hex);
  $g: color.green($hex);
  $b: color.blue($hex);

  @if (($r * 0.299 + $g * 0.587 + $b * 0.114) > 186) == not $inverse {
    @return var(--tui-base-09);
  } @else {
    @return var(--tui-base-01);
  }
}

$appearanceColor: (
  support-01: #a8cef1,
  support-02: #3682db,
  support-03: #8dda71,
  support-04: #34b41f,
  support-05: #e29398,
  support-06: #b8474e,
  support-07: #fcc068,
  support-08: #ff8a00,
  support-09: #dab3f9,
  support-10: #7b439e,
  support-11: #fee797,
  support-12: #fcbb14,
  support-13: #ea97c4,
  support-14: #bd65a4,
  support-15: #7fd7cc,
  support-16: #2fad96,
  support-17: #d4aca2,
  support-18: #9d6f64,
  support-19: #d2e9a2,
  support-20: #aadc42,
  support-21: #a0c5df,
);

[data-appearance-color][rounded="true"] {
  height: 1.5625rem !important;
  width: 1.5625rem !important;
  min-height: 0 !important;
  padding: 0 !important;
  border-radius: 100% !important;
}

@each $name, $hex in $appearanceColor {
  [data-appearance-color="#{$name}"] {
    background-color: var(--tui-#{$name}) !important;
    color: getTextColor($hex) !important;
  }

  body tui-theme-night + tui-root [data-appearance-color="#{$name}"] {
    background-color: var(--tui-#{$name}) !important;
    color: getTextColor($hex, true) !important;
  }
}
