$sizes: (xs, s, m, l);

@each $size in $sizes {
  .border-radius-#{$size} {
    border-radius: var(--tui-radius-#{$size});
  }
}

.h-full {
  height: 100% !important;
}

@each $w in (56, 128, 100, 200, 250) {
  .w-#{$w}px {
    min-width: #{$w}px;
    max-width: #{$w}px;
    width: #{$w}px;
  }
}
