$sizes: (m);

@each $size in $sizes {
  .border-radius-#{$size} {
    border-radius: var(--tui-radius-#{$size});
  }
}

@each $w in (56, 128, 100, 160, 200, 250) {
  .w-#{$w}px {
    min-width: #{$w}px;
    max-width: #{$w}px;
    width: #{$w}px;
  }
}

.h-full {
  height: 100% !important;
}

.max-w-150px {
  max-width: 150px;
}

.w-full {
  width: 100%;
}

.max-w-xs {
  max-width: 22rem;
}
