@use 'variables' as *;
@use 'sass:math';

@function spacing($size) {
  @return math.div($size * 1px, $space) * 1rem;
}

@mixin spacing-class($property, $size, $property-value: null) {
  $propShort: str-slice($property, 1, 1);

  @each $dirKey, $dir in ("l": "left", "r": "right", "t": "top", "b": "bottom") {
    .#{$propShort}#{$dirKey}-#{$size} {
      @if $property-value == null {
        #{$property}-#{$dir}: spacing($size);
      } @else {
        #{$property}-#{$dir}: $property-value;
      }
    }
  }

  @each $key, $extends in ("x": ("r", "l"), "y": ("t", "b")) {
    .#{$propShort}#{$key}-#{$size} {
      @each $ext in $extends {
        @extend .#{$propShort}#{$ext}-#{$size};
      }
    }
  }
}

@for $size from 0 to 16 {
  @each $prop in ("padding", "margin") {
    @include spacing-class($prop, $size);
  }

  @each $gap in (gap, column-gap, row-gap) {

    .#{$gap}-#{$size} {
      #{$gap}: spacing($size);
    }
  }

}

@include spacing-class("margin", auto, auto);

.mt-full {
  margin-top: 100%;
}

.w-full {
  width: 100%;
}

.max-w-xs {
  max-width: 22rem;
}
