$alignments: (center);

@each $alignment in $alignments {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}

$styles: (bolder);

@each $style in $styles {
  .text-#{$style} {
    font-weight: $style;
  }
}

.text-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
