$alignments: left, right, center, justify;

@each $alignment in $alignments {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}

$styles: normal, bolder;

@each $style in $styles {
  .text-#{$style} {
    font-weight: $style;
  }
}
