.w-rest {
  --rest: calc(min(100rem, calc(100vw - var(--app-sidebar-width) - 3rem)) - 2rem - 1180px);
  max-width: max(var(--rest), 250px);
  width: max(var(--rest), 250px);
  min-width: max(var(--rest), 250px);
}

.max-w-150px {
  max-width: 150px;
}
