@use '@taiga-ui/core/styles/taiga-ui-local' as *;

:host {
  .column-actions {
    padding-left: 0 !important;
  }

  @each $w in (80, 100, 200, 250) {
    .w-#{$w}px {
      min-width: #{$w}px;
      max-width: #{$w}px;
      width: #{$w}px;
    }
  }

  .w-rest {
    --rest: calc(min(100rem, calc(100vw - var(--app-sidebar-width) - 3rem)) - 2rem - 2px - 1130px);
    max-width: max(var(--rest), 250px);
    width: max(var(--rest), 250px);
    min-width: max(var(--rest), 250px);
  }

  .sticky-thead {
    position: sticky;
    left: 0;
    z-index: 30
  }

  .text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
  }
}
