<form
  [formGroup]="form"
  (ngSubmit)="submit$.next(undefined)"
  class="tui-form"
  [attr.data-skeleton]="initialDataLoading$ | async">
  <div tuiGroup class="tui-form__row" [rounded]="true">
    <label
      tuiLabel="Color"
      formGroupName="appearance"
      class="tui-group__auto-width-item">
      <app-appearance-color-selector formControlName="color" class="mt-1">
      </app-appearance-color-selector>

      <tui-error
        formControlName="color"
        [error]="[] | tuiFieldError | async"></tui-error>
    </label>

    <label
      tuiLabel="Icon"
      formGroupName="appearance"
      class="tui-group__auto-width-item">
      <app-appearance-icon-selector class="mt-1" formControlName="iconName">
      </app-appearance-icon-selector>

      <tui-error
        formControlName="iconName"
        [error]="[] | tuiFieldError | async"></tui-error>
    </label>

    <label [tuiLabel]="'Name'">
      <tui-input
        formControlName="name"
        tuiTextfieldSize="m"
        class="mt-1 tui-group__inherit-item"
        [tuiTextfieldLabelOutside]="true">
        Example category
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-error
        formControlName="name"
        [error]="[] | tuiFieldError | async"></tui-error>
    </label>
  </div>

  <div
    class="tui-form__row tui-form__buttons tui-form__buttons_align_end"
    *tuiLet="(submitLoading$ | async) ?? false as submitting">
    <button
      tuiButton
      appearance="outline"
      class="ml-auto"
      (click)="cancel()"
      type="button"
      [disabled]="submitting"
      size="m">
      Cancel
    </button>

    <button
      tuiButton
      type="submit"
      class="tui-form__button"
      size="m"
      [showLoader]="submitting">
      Save
    </button>
  </div>
</form>
