<form (ngSubmit)="submit()" [formGroup]="form">
  <div tuiGroup class="mb-6" [rounded]="true">
    <label [tuiLabel]="'Transaction type'" class="max-w-s">
      <tui-select
        [tuiTextfieldLabelOutside]="true"
        class="mt-1 tui-group__inherit-item"
        formControlName="transactionType"
        tuiTextfieldSize="m">
        <tui-data-list-wrapper *tuiDataList [items]="transactionTypes" size="s">
        </tui-data-list-wrapper>
      </tui-select>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="transactionType"></tui-error>
    </label>

    <label [tuiLabel]="'Transaction date'">
      <tui-input-date
        [max]="maxDate"
        [tuiTextfieldLabelOutside]="true"
        class="mt-1 tui-group__inherit-item"
        formControlName="transactionDate"
        tuiTextfieldSize="m">
        Choose a date
        <input tuiTextfield />
      </tui-input-date>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="transactionDate"></tui-error>
    </label>
  </div>

  <div tuiGroup class="mb-6" [rounded]="true">
    <label [tuiLabel]="'Currency'" class="max-w-s">
      <app-select
        [getListFunction]="getCurrenciesFunction"
        [stringify]="getCurrencyName"
        class="mt-1 tui-group__inherit-item"
        formControlName="currencyId"
        label="Choose a currency"></app-select>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="currencyId"></tui-error>
    </label>

    <label [tuiLabel]="'Amount'">
      <tui-input-number
        [postfix]="form.controls.currencyId.value ?? null | tuiCurrency"
        [tuiTextfieldLabelOutside]="true"
        class="mt-1 tui-group__inherit-item"
        formControlName="amount"
        tuiAutoFocus
        tuiTextfieldSize="m">
        Type an amount
      </tui-input-number>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="amount"></tui-error>
    </label>

    <label
      *ngIf="shouldExchangeRateBeSpecified$ | async"
      [tuiLabel]="'Currency exchange rate'"
      class="max-w-s">
      <tui-input-number
        [tuiTextfieldLabelOutside]="true"
        class="mt-1 tui-group__inherit-item"
        formControlName="exchangeRate"
        tuiTextfieldSize="m">
        Type an amount
      </tui-input-number>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="exchangeRate"></tui-error>
    </label>
  </div>

  <label [tuiLabel]="'Category'" class="w-full mb-6">
    <app-select
      [getListFunction]="getCategoriesFunction"
      class="mt-1"
      formControlName="categoryId"
      label="Choose a category"></app-select>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="categoryId"></tui-error>
  </label>

  <label [tuiLabel]="'Recipient'" class="w-full mb-6">
    <app-select
      [getListFunction]="getRecipientsFunction"
      class="mt-1"
      formControlName="recipientId"
      label="Choose a recipient"></app-select>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="recipientId"></tui-error>
  </label>

  <label [tuiLabel]="'Labels'" class="mb-6 w-full">
    <app-multi-select
      class="mt-1"
      formControlName="labelIds"
      [getListFunction]="getLabelsFunction"
      label="Choose labels">
    </app-multi-select>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="labelIds"></tui-error>
  </label>

  <label [tuiLabel]="'Note'" class="mb-6">
    <tui-text-area
      [expandable]="true"
      [maxLength]="512"
      [tuiTextfieldLabelOutside]="true"
      class="mt-1"
      formControlName="note"
      tuiTextfieldSize="m">
    </tui-text-area>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="note"></tui-error>
  </label>

  <div class="tui-form__row text-right">
    <button
      [showLoader]="(loading$ | async) ?? false"
      size="m"
      tuiButton
      type="submit">
      Create
    </button>
  </div>
</form>
