<form
  [formGroup]="form.group"
  (ngSubmit)="form.submit()"
  class="tui-form"
  *tuiLet="dialogs$ | async">
  <div tuiGroup class="tui-form__row" [rounded]="true">
    <label tuiLabel="Transaction type" class="max-w-10 label-required">
      <tui-select
        [tuiTextfieldLabelOutside]="true"
        class="mt-1 tui-group__inherit-item"
        formControlName="transactionType"
        tuiTextfieldSize="m">
        <tui-data-list-wrapper
          *tuiDataList
          [items]="ui.transactionTypes"
          size="s">
        </tui-data-list-wrapper>
      </tui-select>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="transactionType"></tui-error>
    </label>

    <label tuiLabel="Transaction date">
      <tui-input-date
        [max]="ui.transactionDate.max"
        [min]="ui.transactionDate.min"
        [tuiTextfieldLabelOutside]="true"
        class="mt-1 tui-group__inherit-item label-required"
        formControlName="transactionDate"
        tuiTextfieldSize="m">
        Choose a date
      </tui-input-date>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="transactionDate"></tui-error>
    </label>
  </div>

  <div tuiGroup class="tui-form__row" [rounded]="true">
    <label tuiLabel="Currency" class="max-w-10 label-required">
      <app-select
        [control]="form.controls.currencyId"
        [getListFunction]="ui.dataApis.getCurrencies"
        [stringify]="ui.dataApis.getCurrencyName"
        class="mt-1 tui-group__inherit-item"
        label="Choose a currency"></app-select>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="currencyId"></tui-error>
    </label>

    <label tuiLabel="Amount" class="label-required">
      <tui-input-number
        [postfix]="form.controls.currencyId.value | tuiCurrency"
        [tuiTextfieldLabelOutside]="true"
        class="mt-1 tui-group__inherit-item"
        formControlName="amount"
        [attr.data-transaction-type]="form.controls.transactionType.value"
        tuiAutoFocus
        tuiTextfieldSize="m"
        [precision]="2"
        decimal="not-zero"
        [min]="0.0">
        Type an amount
      </tui-input-number>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="amount"></tui-error>
    </label>

    <ng-container
      *tuiLet="(exchangeRateLoading$ | async) ?? false as exchangeRateLoading">
      <label
        tuiLabel="Currency exchange rate"
        class="max-w-10 label-required"
        *ngIf="shouldExchangeRateBeSpecified$ | async">
        <tui-loader [showLoader]="exchangeRateLoading" [overlay]="true">
          <tui-input-number
            [tuiTextfieldLabelOutside]="true"
            class="mt-1 tui-group__inherit-item"
            formControlName="exchangeRate"
            tuiTextfieldSize="m"
            [precision]="2"
            decimal="not-zero"
            [min]="0.0">
            Type an amount
          </tui-input-number>
        </tui-loader>

        <tui-error
          [error]="[] | tuiFieldError | async"
          formControlName="exchangeRate"></tui-error>
      </label>
    </ng-container>
  </div>

  <label tuiLabel="Category" class="tui-form__row">
    <app-select-with-template
      *ngIf="form.controls.transactionType.value"
      [control]="form.controls.categoryId"
      [getListFunction]="ui.dataApis.getCategories"
      [preloadedResults]="ui.preloadedResults.categories"
      [externalFilters]="{
        transactionType_eq: form.controls.transactionType.value
      }"
      [itemTemplate]="categoryTemplate"
      class="mt-1"
      label="Choose a category"
      [showAddButton]="true"
      (addClick)="
        ui.actions.createCategory$.next($event)
      "></app-select-with-template>

    <ng-template #categoryTemplate="polymorpheus" polymorpheus let-item>
      <span class="d-flex align-items-center">
        <tui-marker-icon
          size="xs"
          [attr.data-appearance-color]="item.appearance.color ?? ''"
          [src]="item.appearance.iconName ?? 'fa::question'"></tui-marker-icon>
        <span class="ml-2 text-ellipsis d-block" [title]="item.name">
          {{ item.name ?? '-' }}
        </span>
      </span>
    </ng-template>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="categoryId"></tui-error>
  </label>

  <label
    [tuiLabel]="
      form.controls.transactionType.value === ui.transactionType.Income
        ? 'Sender'
        : 'Recipient'
    "
    class="tui-form__row">
    <app-select
      [showAddButton]="true"
      (addClick)="ui.actions.createRecipient$.next($event)"
      [control]="form.controls.recipientId"
      [getListFunction]="ui.dataApis.getRecipients"
      [preloadedResults]="ui.preloadedResults.recipients"
      class="mt-1"
      label="Choose a transaction party"></app-select>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="recipientId"></tui-error>
  </label>

  <label tuiLabel="Labels" class="tui-form__row">
    <app-multi-select
      [showAddButton]="true"
      (addClick)="ui.actions.createLabel$.next($event)"
      [control]="form.controls.labelIds"
      [getListFunction]="ui.dataApis.getLabels"
      [preloadedResults]="ui.preloadedResults.labels"
      class="mt-1"
      label="Choose labels">
    </app-multi-select>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="labelIds"></tui-error>
  </label>

  <label tuiLabel="Note" class="tui-form__row">
    <tui-text-area
      [expandable]="true"
      [maxLength]="512"
      [tuiTextfieldLabelOutside]="true"
      class="mt-1"
      formControlName="note"
      tuiTextfieldSize="m">
    </tui-text-area>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="note"></tui-error>
  </label>

  <div
    class="tui-form__row tui-form__buttons tui-form__buttons_align_end"
    *tuiLet="
      (form.submitButtonLoading$ | async) ?? false as submitButtonLoading
    ">
    <button
      tuiButton
      appearance="outline"
      class="tui-form__button"
      (click)="cancel()"
      type="button"
      [disabled]="submitButtonLoading"
      size="m">
      Cancel
    </button>

    <button
      tuiButton
      type="submit"
      class="tui-form__button"
      size="m"
      [showLoader]="submitButtonLoading">
      Save
    </button>
  </div>
</form>
