<form (ngSubmit)="submit()" [formGroup]="form">
  <div class="d-flex gap-4 align-items-flex-start">
    <label [tuiLabel]="'Currency'" class="mb-6 w-full">
      <app-select
        [getListFunction]="getCurrenciesFunction"
        [stringify]="getCurrencyName"
        class="mt-1"
        formControlName="currencyId"
        label="Choose a currency"></app-select>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="currencyId"></tui-error>
    </label>

    <label [tuiLabel]="'Amount'" class="mb-6 w-full">
      <tui-input-number
        [postfix]="
          (form.controls.currencyId.valueChanges | async) ?? null | tuiCurrency
        "
        [tuiTextfieldLabelOutside]="true"
        class="mt-1"
        formControlName="amount"
        tuiAutoFocus
        tuiTextfieldSize="m">
        Type an amount
      </tui-input-number>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="amount"></tui-error>
    </label>

    <label
      *ngIf="shouldExchangeRateBeSpecified$ | async"
      [tuiLabel]="'Currency exchange rate'"
      class="mb-6 w-full">
      <tui-input-number
        [tuiTextfieldLabelOutside]="true"
        class="mt-1"
        formControlName="exchangeRate"
        tuiTextfieldSize="m">
        Type an amount
      </tui-input-number>

      <tui-error
        [error]="[] | tuiFieldError | async"
        formControlName="exchangeRate"></tui-error>
    </label>
  </div>

  <label [tuiLabel]="'Transaction date'" class="mb-6">
    <tui-input-date
      [max]="maxDate"
      [tuiTextfieldLabelOutside]="true"
      class="mt-1"
      formControlName="transactionDate"
      tuiTextfieldSize="m">
      Choose a date
      <input tuiTextfield />
    </tui-input-date>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="transactionDate"></tui-error>
  </label>

  <label [tuiLabel]="'Transaction type'" class="mb-6">
    <tui-select
      [tuiTextfieldLabelOutside]="true"
      class="mt-1"
      formControlName="transactionType"
      tuiTextfieldSize="m">
      <tui-data-list-wrapper *tuiDataList [items]="transactionTypes" size="s">
      </tui-data-list-wrapper>
    </tui-select>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="transactionType"></tui-error>
  </label>

  <label [tuiLabel]="'Note'" class="mb-6">
    <tui-text-area
      [expandable]="true"
      [maxLength]="512"
      [tuiTextfieldLabelOutside]="true"
      class="mt-1"
      formControlName="note"
      tuiTextfieldSize="m">
    </tui-text-area>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="note"></tui-error>
  </label>

  <label [tuiLabel]="'Category'" class="mb-6 w-full">
    <app-select
      [getListFunction]="getCategoriesFunction"
      class="mt-1"
      formControlName="categoryId"
      label="Choose a category"></app-select>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="categoryId"></tui-error>
  </label>

  <label [tuiLabel]="'Recipient'" class="mb-6 w-full">
    <app-select
      [getListFunction]="getRecipientsFunction"
      class="mt-1"
      formControlName="recipientId"
      label="Choose a recipient"></app-select>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="recipientId"></tui-error>
  </label>

  <label [tuiLabel]="'Labels'" class="mb-6 w-full">
    <app-multi-select
      class="mt-1"
      formControlName="labelIds"
      [getListFunction]="getLabelsFunction"
      label="Choose labels">
    </app-multi-select>

    <tui-error
      [error]="[] | tuiFieldError | async"
      formControlName="labelIds"></tui-error>
  </label>

  <div class="tui-form__row text-right">
    <button
      [showLoader]="(loading$ | async) ?? false"
      size="m"
      tuiButton
      type="submit">
      Create
    </button>
  </div>
</form>
