.t-root-content {
  display: flex;
  flex-direction: column;
}

tui-root {
  height: 100%;
}

app-navbar + .tui-container.w-full {
  width: calc(100% - var(--app-sidebar-width));
  margin-left: var(--app-sidebar-width);
}

.tui-container {
  max-height: 100vh;
  height: 100vh;
}

.container {
  max-width: 100rem;
}

app-navbar ~ app-footer {
  display: none !important;
}

.main-layout-header-box {
  border-bottom: 1px solid transparent;

  height: 60px;
  margin-top: -1rem;
}
