.t-root-content {
  display: flex;
  flex-direction: column;
}

tui-root {
  height: 100%;
}

app-navbar + .tui-container.w-full {
  width: calc(100% - var(--app-sidebar-width));
  margin-left: var(--app-sidebar-width);
}
