.t-root-content {
  display: flex;
  flex-direction: column;
}

tui-root {
  height: 100%;
}

app-navbar + .tui-container.w-full {
  width: calc(100% - var(--app-sidebar-width));
  margin-left: var(--app-sidebar-width);
}

.tui-container {
  max-height: 100vh;
  height: 100vh;
  padding-top: 61px;
}

.container {
  max-width: 85rem;
}

app-navbar ~ app-footer {
  display: none !important;
}
