app-navbar-item {
  a {
    transition: .3s background-color, .3s color;

    &:hover {
      background-color: var(--tui-base-02);
    }

    &.text-bolder {
      color: var(--tui-link) !important;
      background-color: var(--tui-secondary);

      &:hover {
        background-color: var(--tui-secondary-hover);
      }
    }
  }
}

body tui-theme-night + tui-root app-navbar-item {
  a {
    &.text-bolder {
      color: var(--tui-text-01) !important;
    }
  }
}
