<form
  [formGroup]="form.group"
  (ngSubmit)="form.submit()"
  class="tui-form"
  [attr.data-skeleton]="initialDataLoading$ | async">
  <div tuiGroup class="tui-form__row" [rounded]="true">
    <label
      tuiLabel="Color"
      formGroupName="appearance"
      class="tui-group__auto-width-item label-required">
      <app-appearance-color-selector class="mt-1" formControlName="color">
      </app-appearance-color-selector>

      <tui-error
        formControlName="color"
        [error]="[] | tuiFieldError | async"></tui-error>
    </label>

    <label tuiLabel="Name" class="label-required">
      <tui-input
        tuiAutoFocus
        formControlName="name"
        tuiTextfieldSize="m"
        class="mt-1 tui-group__inherit-item"
        [tuiTextfieldLabelOutside]="true">
        Example label
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-error
        formControlName="name"
        [error]="[] | tuiFieldError | async"></tui-error>
    </label>
  </div>

  <div
    class="tui-form__row tui-form__buttons tui-form__buttons_align_end"
    *tuiLet="
      (form.submitButtonLoading$ | async) ?? false as submitButtonLoading
    ">
    <button
      tuiButton
      appearance="outline"
      class="tui-form__button"
      (click)="cancel()"
      type="button"
      [disabled]="submitButtonLoading"
      size="m">
      Cancel
    </button>

    <button
      tuiButton
      type="submit"
      class="tui-form__button"
      size="m"
      [showLoader]="submitButtonLoading">
      Save
    </button>
  </div>
</form>
