<main *tuiLet="dialogs$ | async">
  <div class="w-full d-flex gap-4 mb-4" [formGroup]="filters.form">
    <label class="w-full">
      <tui-input
        formControlName="search"
        [tuiTextfieldLabelOutside]="true"
        class="no-shadow"
        tuiTextfieldSize="s">
        Search
        <input tuiTextfield type="text" />
      </tui-input>
    </label>

    <label class="w-160px">
      <app-sort-select formControlName="sort"></app-sort-select>
    </label>

    <app-filters-reset
      [filtersCount]="filters.filtersCount$ | async"
      (resetFilters)="filters.reset()">
    </app-filters-reset>

    <button
      (click)="ui.actions.share$.next(undefined)"
      appearance="primary"
      size="s"
      tuiButton
      type="button">
      Share
    </button>
  </div>

  <div
    class="bg-base table-container border-radius-l border-base-3 border-width-s overflow-hidden">
    <tui-scrollbar>
      <cdk-virtual-scroll-viewport
        *tuiLet="data.items$ | async as items"
        #viewport
        appInfiniteVirtualScroll
        (pageChange)="data.page($event)"
        [itemSize]="44"
        [fixed]="15.5"
        class="tui-zero-scrollbar"
        tuiScrollable>
        <table tuiTable [columns]="ui.columns" class="w-full">
          <thead
            class="sticky-thead"
            [style.top.px]="-viewport['_renderedContentOffset']">
            <tr tuiThGroup>
              <th *tuiHead="'name'" class="w-250px" [sorter]="null" tuiTh>
                Name
              </th>
              <th *tuiHead="'email'" class="w-rest" [sorter]="null" tuiTh>
                Email address
              </th>

              <th
                *tuiHead="'actions'"
                tuiTh
                [sorter]="null"
                class="w-56px"></th>
            </tr>
          </thead>
          <tbody
            tuiTbody
            *tuiLet="ui.deleteActionAt$ | async as currentlyDeletedEmail">
            <tr
              *cdkVirtualFor="let item of items ?? []; trackBy: trackById"
              tuiTr>
              <td *tuiCell="'name'" tuiTd class="w-250px">
                <span class="text-ellipsis d-block" [title]="item.name">
                  {{ item.name }}
                </span>
              </td>

              <td *tuiCell="'email'" tuiTd class="w-rest">
                <span class="text-ellipsis d-block" [title]="item.email">
                  {{ item.email }}
                </span>
              </td>

              <td
                *tuiCell="'actions'"
                tuiTd
                class="w-56px"
                [class.buttons-visible]="currentlyDeletedEmail === item.email">
                <button
                  tuiIconButton
                  appearance="flat-destructive"
                  size="s"
                  [tuiHint]="
                    currentlyDeletedEmail === item.email
                      ? 'This row is during deletion'
                      : null
                  "
                  [showLoader]="currentlyDeletedEmail === item.email"
                  icon="tuiIconTrash"
                  title="Revoke access"
                  appRequireConfirmation
                  (confirm)="ui.actions.revoke$.next(item)"
                  confirmationMessage="Are you sure you want to revoke wallet access from '<strong>{{
                    item.name
                  }}</strong>'?"
                  shape="rounded"></button>
              </td>
            </tr>
          </tbody>

          <tfoot *tuiLet="(data.apiLoading$ | async)! as apiLoading">
            <tr *ngIf="apiLoading || items === null">
              <td [colSpan]="ui.columns.length">
                <tui-loader></tui-loader>
              </td>
            </tr>

            <tr *ngIf="items && items.length === 0 && !apiLoading">
              <td [colSpan]="ui.columns.length" class="text-3 text-center">
                No records found
              </td>
            </tr>
          </tfoot>
        </table>
      </cdk-virtual-scroll-viewport>
    </tui-scrollbar>
  </div>
</main>
