@use '@taiga-ui/core/styles/taiga-ui-local' as *;

.icon-default {
  background: var(--tui-base-02);
  color: var(--tui-text-03);
}

:host {
  .viewport {
    min-height: calc(44px * 15.5);


    table thead {
      th {
        height: 0 !important;
      }
    }
  }

  .column-name {
    min-width: 200px;
    max-width: 200px;
  }

  .column-actions {
    min-width: 56px;
    max-width: 56px;
  }

  td,
  th {
    white-space: nowrap;
    border: none;
  }

  tr th {
    background: var(--tui-base-02);
  }

  tbody {
    border-color: transparent;

    tr {
      td {
        border-bottom: 1px solid var(--tui-base-03);
      }

      &:last-child td {

        border-color: transparent;
      }

      &.currently-edited {
        button {
          opacity: 1;
        }

        td {
          background: var(--tui-base-02);
          border-bottom: 1px solid var(--tui-primary);
        }
      }
    }

  }

  td button {
    @include transition(opacity);
    opacity: 0;
  }

  tr:hover td button {
    opacity: 1;
  }

}
