.w-rest {
  --rest: calc(min(100rem, calc(100vw - var(--app-sidebar-width) - 3rem)) - 2rem - (56px + 250px + 2px));
  max-width: max(var(--rest), 250px);
  width: max(var(--rest), 250px);
  min-width: max(var(--rest), 250px);
}

.w-56px {
  min-width: 56px;
  max-width: 56px;
  width: 56px;
}
