@use 'shared' as *;

app-dashboard .tui-island {
  box-sizing: border-box;
  flex-basis: calc(25% - 8px * 3 / 4);
  cursor: pointer;
  &::before {
    transition: .3s;

  }

  &:hover {
    &::before {

      border-color: pallette("base-4") !important;
      box-shadow: 0 0.2rem 0.5rem rgba(0 0 0 / 5%);
    }
  }
}
