<form [formGroup]="form.group" (ngSubmit)="form.submit()" class="tui-form">
  <label tuiLabel="Email address" class="tui-form__row label-required">
    <tui-input
      formControlName="userEmail"
      tuiTextfieldSize="m"
      class="mt-1"
      [tuiTextfieldLabelOutside]="true">
      example@mail.com
      <input tuiTextfield type="email" />
    </tui-input>

    <tui-error
      formControlName="userEmail"
      [error]="[] | tuiFieldError | async"></tui-error>
  </label>

  <div
    class="tui-form__row tui-form__buttons tui-form__buttons_align_end"
    *tuiLet="
      (form.submitButtonLoading$ | async) ?? false as submitButtonLoading
    ">
    <button
      tuiButton
      appearance="outline"
      class="tui-form__button"
      (click)="cancel()"
      type="button"
      [disabled]="submitButtonLoading"
      size="m">
      Cancel
    </button>

    <button
      tuiButton
      type="submit"
      class="tui-form__button"
      size="m"
      [showLoader]="submitButtonLoading">
      Share
    </button>
  </div>
</form>
