<div class="tui-form">
  <div class="tui-form__row" [innerHtml]="content | dompurify"></div>
  <div class="tui-form__row tui-form__buttons tui-form__buttons_align_end">
    <button
      tuiButton
      appearance="outline"
      (click)="cancel()"
      class="tui-form__button"
      type="button"
      size="m"
      data-test="cancel">
      Cancel
    </button>

    <button
      tuiButton
      type="button"
      (click)="confirm()"
      class="tui-form__button"
      size="m"
      appearance="secondary-destructive"
      data-test="confirm">
      Confirm
    </button>
  </div>
</div>
