.tui-text_h4 {
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid var(--tui-base-02);
}

.w-rest {
  --rest: calc(min(100rem, calc(100vw - var(--app-sidebar-width) - 3rem)) - 2rem - (250px + 56px + 2px));
  max-width: max(var(--rest), 250px);
  width: max(var(--rest), 250px);
  min-width: max(var(--rest), 250px);
}
