@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import '@taiga-ui/core/styles/taiga-ui-local';

body {
  background-color: var(--tui-base-01)
}

@for $num from 1 to 7 {
  h#{$num} {
    font: var(--tui-font-heading-#{$num});
  }
}

tui-badge[data-tui-host-status=custom]:not(._hoverable) {
  transition-property: none !important;
}

[tuiWrapper][data-appearance='outline'] {
  &:after {
    color: var(--tui-base-03);
    transition-property: color;
  }
}

[tuiWrapper][data-appearance='flat-destructive'] {
  background: transparent;
  color: var(--tui-negative);

  &:hover:not(._no-hover) {
    background: var(--tui-error-bg-hover);
    color: var(--tui-negative-hover)
  }
}

[tuiWrapper][data-appearance=textfield] {
  .no-shadow &, &.no-shadow {
    box-shadow: none !important;
  }

  .no-border &, &.no-border {
    &:after {
      border: none !important;
    }
  }
}

[tuiWrapper][data-appearance='flat-outline'] {
  border: 1px solid var(--tui-base-03);
  background: transparent;
  color: var(--tui-link);

  @include wrapper-hover {
    background: var(--tui-secondary-hover);
    color: var(--tui-link-hover);
  }
}

.column-filter-text {
  cursor: pointer;
  transition: .3s color;

  &:hover, [data-dropdown-opened=true] &, ._hosted_dropdown_focused & {
    color: var(--tui-text-03);

    &.text-link {
      color: var(--tui-link-hover) !important;
    }
  }
}

tui-dropdown .t-wrapper .t-scroll > .t-content:has(tui-calendar-range tui-calendar + .t-menu) {
  max-height: 20.25rem;

  tui-calendar-range tui-calendar {
    position: sticky;
    top: 0;
    left: 0;
  }
}

tui-data-list[data-list-size=s] {
  --tui-data-list-margin: .0625rem !important;

  & > .t-empty {
    font: var(--tui-font-text-s);
    min-height: 2rem;
    padding: 0.3125rem 0.5rem;
    margin: var(--tui-data-list-margin) 0;
  }

  .t-checkmark {
    height: 20px;
  }
}

tui-data-list {
  tui-loader + .t-empty {
    display: none !important;
  }
}

.tui-group_rounded.tui-group_orientation_horizontal > *:first-child .t-content .tui-group__inherit-item {
  border-top-left-radius: var(--tui-radius-m);
  border-bottom-left-radius: var(--tui-radius-m);
}

.tui-group_rounded.tui-group_orientation_horizontal > *:last-child .t-content .tui-group__inherit-item {
  border-top-right-radius: var(--tui-radius-m);
  border-bottom-right-radius: var(--tui-radius-m);
}

.tui-group {
  align-items: flex-start;
}

button.button-select-dropdown {
  --tui-padding: var(--tui-padding-m);

  .t-wrapper {
    .t-right {
      margin: 0 0 0 0.5rem;
      color: var(--tui-text-03);
      transition-property: color;
      transition-duration: var(--tui-duration, .3s);
      transition-timing-function: ease-in-out;
    }

    &:hover:not(._readonly) .t-right {
      color: var(--tui-text-02);
    }
  }
}

.palette-grid {
  display: grid;
  grid-template-columns: repeat(var(--items-count, 1), 2.3125rem);

  & > * {
    margin: 0.375rem;
  }
}

tui-marker-icon[data-appearance-color] {
  width: 1.5rem !important;
  height: 1.5rem !important;

  svg {
    height: 1.25rem !important;
    width: 1.25rem !important;
  }

  tui-data-list & {
    width: 1rem !important;
    height: 1rem !important;

    svg {
      height: 0.9rem !important;
      width: 0.9rem !important;
    }
  }

}

.t-postfix.t-inline {
  vertical-align: text-bottom !important;
}

.max-w-10 {
  max-width: 10rem;
  width: 100%;
}

[data-transaction-type='expense'], [data-transaction-type='Expense'] {
  --transaction-type-color: var(--tui-negative);
}

[data-transaction-type='income'], [data-transaction-type='Income'] {
  --transaction-type-color: var(--tui-positive);
}

[data-transaction-type],
tui-input-number[data-transaction-type] .t-input,
tui-input-number[data-transaction-type] .t-value-decoration .t-ghost {
  color: var(--transaction-type-color);
  font-weight: bolder;
}

.cdk-virtual-scroll-viewport.scrollbar-ellipsis .cdk-virtual-scroll-content-wrapper {
  max-width: 100%;

  [role="option"] {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
  }
}

.table-container {
  background-color: var(--tui-base-01);
  border-radius: var(--tui-radius-l);
  border: 1px solid var(--tui-base-03);
  overflow: hidden;

  table {
    td,
    th {
      white-space: nowrap;
      border: none;
    }

    tr th {
      background: var(--tui-base-02
      );
    }

    tbody {
      border-color: transparent;

      tr {
        td {
          border-bottom: 1px solid var(--tui-base-03);
        }

        &:last-child td {

          border-color: transparent;
        }
      }
    }

    td:not(.buttons-visible) button {
      @include transition(opacity);
      opacity: 0;
    }

    tr:hover td button, tr:focus-within td button {
      opacity: 1;
    }
  }
}

.applied-filters-button {
  position: relative;

  tui-badge {
    color: var(--tui-text-01-night) !important;
    background: var(--tui-info-fill) !important;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    transform: translate(30%, -30%);
  }
}

.tui-zero-scrollbar {
  @include scrollbar-hidden;

  [role="listbox"] [role="option"] {
    white-space: nowrap !important;
  }
}

[data-infinite-viewport="true"] {
  height: calc(var(--viewport-item-size, 0) * min(max(1, var(--viewport-items-count, 0)), var(--viewport-max-items-count, 1)) + var(--viewport-items-margin, 0) * 2);
  min-height: calc(var(--viewport-item-size, 0) + var(--viewport-items-margin, 0) * 2);
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.sticky-thead {
  position: sticky;
  left: 0;
  z-index: 30
}

.clickable-tr {
  cursor: pointer;

  td {
    transition: background-color var(--tui-duration, 300ms);
  }

  &:hover td {
    background-color: var(--tui-base-02);
  }
}

.simplified-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: 74px;
}

app-wallet-list-item.dashed, app-budget-list-item.dashed, app-budget-list-item-no-actions.dashed {
  border-style: dashed !important;

  &:hover {
    border-color: var(--tui-base-05) !important;
  }

  &:not(:hover) {
    border-color: var(--tui-base-04) !important;
    color: var(--tui-text-03);
  }
}

.header-box {
  height: 56px;
  line-height: 56px;
  border-bottom: 1px solid var(--tui-base-02);
}

label.label-required .t-label .t-text {
  &::after {
    content: ' *';
    color: var(--tui-text-02);
  }
}

tui-loader {
  &, & .t-content {
    border-radius: inherit;
  }

  &.show-overlay-text {
    .t-loader {
      &::after {
        content: 'No data found';
        color: var(--tui-text-02);
        font: var(--tui-font-text-s);
      }

      svg {
        display: none;
      }
    }
  }

  &:has(.t-content_loading tui-axes) {
    .t-loader {
      margin-top: -32px;
    }
  }
}


table tfoot tr {
  height: 44px !important;

  td {
    height: 44px !important;

  }
}

tui-svg.size-16px {
  height: 16px;
  width: 16px;

  svg {
    height: 100%;
    width: 100%;
  }
}

button.text-link tui-multi-select-option tui-primitive-checkbox {
  display: none !important;
}

td.w-250px tui-items-with-more.gap-1 .t-item {
  max-width: calc(100% - 60px)
}

tui-tabs a {
  padding-right: 0.25rem !important;
}
