<ng-container *tuiLet="stats$ | async as chartData">
  <main *tuiLet="chartData === null as isLoading">
    <div class="w-full d-flex gap-4 mb-4" [formGroup]="filters.form">
      <label>
        <span class="text-2" [class.tui-skeleton]="isLoading">
          Total expenses in selected period:
        </span>
        <strong *ngIf="chartData !== null" class="text-negative">
          {{ chartData.total | tuiFormatNumber : { decimalLimit: 2 } }}
          {{ chartData.currencyId | tuiCurrency }}
        </strong>
      </label>

      <label class="w-250px ml-auto">
        <tui-input-date-range
          [maxLength]="ui.transactionDate.maxLength"
          [min]="ui.transactionDate.min"
          [max]="ui.transactionDate.max"
          formControlName="transactionDate"
          [items]="ui.transactionDate.items"
          [tuiTextfieldCleaner]="true"
          [tuiTextfieldLabelOutside]="true"
          class="no-shadow"
          tuiTextfieldSize="s">
          Date range
        </tui-input-date-range>
      </label>
    </div>

    <hr class="mb-4" />

    <tui-loader [showLoader]="isLoading ?? true" [overlay]="true">
      <tui-axes
        *ngIf="chartData !== null && chartData.total > 0"
        [style.--row-count]="chartData.yLabels.length"
        class="axes"
        [verticalLines]="5"
        [axisYLabels]="chartData.yLabels"
        [axisXLabels]="chartData.xLabels">
        <tui-bar-chart
          (click)="click($event, chartData.ids)"
          [max]="chartData.max"
          [tuiHintContent]="hint"
          [value]="chartData.values"
          [size]="null"></tui-bar-chart>

        <ng-template #hint polymorpheus="" let-index>
          <div>
            <p>
              <strong>{{ chartData.yLabels[index] }}</strong>
            </p>
            <span>
              {{
                chartData.values[0][index]
                  | tuiFormatNumber : { decimalLimit: 2 }
              }}
              {{ chartData.currencyId | tuiCurrency }}
            </span>
            <em class="text-2">
              ({{
                chartData.percentages[index]
                  | tuiFormatNumber : { decimalLimit: 2 }
              }}%)
            </em>
          </div>
        </ng-template>
      </tui-axes>

      <ng-container *ngIf="chartData !== null && chartData.total === 0">
        <div class="text-center text-2">
          You have no expenses for selected period.
        </div>
      </ng-container>
    </tui-loader>
  </main>
</ng-container>
