<div class="main-layout-header-box"></div>

<ng-container *tuiLet="ui$ | async as ui">
  <section class="dashboard-layout pb-6">
    <div class="tui-text_h4 header-box">Wallets</div>
    <div class="tui-text_h4 header-box">Budgets</div>
    <div class="tui-text_h4 header-box">Balance</div>

    <tui-scrollbar>
      <div class="grid-container gap-3">
        <ng-template #loading>
          <app-wallet-list-item
            *ngFor="let i of [1, 2, 3]"
            [showSkeleton]="true"></app-wallet-list-item>
        </ng-template>

        <app-wallet-list-item
          *ngFor="let wallet of ui?.wallets ?? null; else: loading"
          [wallet]="wallet"></app-wallet-list-item>

        <app-wallet-list-item
          *ngIf="(ui?.wallets ?? []).length > 0"
          class="dashed">
          <a
            href="/wallets"
            routerLink="/wallets"
            class="w-full h-full d-flex justify-content-center align-items-center text-center tui-text_body-m">
            <span>See all wallets</span>
          </a>
        </app-wallet-list-item>

        <app-wallet-list-item
          *ngIf="ui?.wallets !== null && ui?.wallets?.length === 0"
          class="dashed">
          <a
            href="/wallets?action=create"
            routerLink="/wallets"
            [queryParams]="{ action: 'create' }"
            class="w-full h-full d-flex justify-content-center align-items-center text-center tui-text_body-m">
            <tui-svg src="tuiIconPlusLarge" class="mr-2"></tui-svg>
            <span>Create new wallet</span>
          </a>
        </app-wallet-list-item>
      </div>
    </tui-scrollbar>

    <tui-scrollbar>
      <div class="grid-container gap-3">
        <ng-template #loading>
          <app-budget-list-item-no-actions
            *ngFor="let i of [1, 2, 3]"
            [showSkeleton]="true"></app-budget-list-item-no-actions>
        </ng-template>

        <app-budget-list-item-no-actions
          *ngFor="let budget of ui?.budgets ?? null; else: loading"
          [budget]="budget"></app-budget-list-item-no-actions>

        <app-budget-list-item-no-actions
          *ngIf="(ui?.budgets ?? []).length > 0"
          class="dashed">
          <a
            href="/budgets"
            routerLink="/budgets"
            class="w-full h-full d-flex justify-content-center align-items-center text-center tui-text_body-m">
            <span>See all budgets</span>
          </a>
        </app-budget-list-item-no-actions>

        <app-wallet-list-item
          *ngIf="ui?.budgets !== null && ui?.budgets?.length === 0"
          class="dashed">
          <a
            href="/budgets?action=create"
            routerLink="/budgets"
            [queryParams]="{ action: 'create' }"
            class="w-full h-full d-flex justify-content-center align-items-center text-center tui-text_body-m">
            <tui-svg src="tuiIconPlusLarge" class="mr-2"></tui-svg>
            <span>Create new budget</span>
          </a>
        </app-wallet-list-item>
      </div>
    </tui-scrollbar>

    <app-dashboard-bar-chart></app-dashboard-bar-chart>
  </section>
</ng-container>

<div class="tui-text_h4 header-box">Latest transactions</div>
<app-dashboard-transactions></app-dashboard-transactions>
