@import '@taiga-ui/core/styles/taiga-ui-local';

.tui-zero-scrollbar {
  @include scrollbar-hidden;

  height: calc(34px * (min(max(1, var(--items-count, 0)), 6) + 0.5));
  //height: calc(34px * min(1, var(--items-count, 0)));
  min-height: calc(34px * 1.5);
  --tui-duration: 0;
}
